<h2>Create New Book</h2>

<form action="/books/create">
  <label for="name">Name</label>
  <input type="text" id="name" value="">
  <label for="author">Author</label>
  <input type="text" id="author" value="">
  <label for="pages">Pages</label>
  <input type="text" id="pages" value="">
  <button type="submit">Create</button>
</form>